.button {
	height: rem-calc(48);
	border: none;
}

#button-submit {
	display: table;
	width: rem-calc(180);
	height: rem-calc(48);
	margin: 0 auto;
	cursor: pointer;

	.segment-inner {
		fill: $light-gray;
	}
}