.button {
	height: rem-calc(48);
	border: none;

	font-family: $ks-medium;
	text-transform: uppercase;
	letter-spacing: rem-calc(1);

	&:hover {
		background-color: $dirt;
	}

	&.form-submit {
		display: table;
		margin: 0 auto;
	}
}

#button-submit {
	display: table;
	width: rem-calc(180);
	height: rem-calc(48);
	margin: 0 auto;
	cursor: pointer;

	.segment-inner {
		fill: $light-gray;
	}
}