

// Global Styling
// --------------

body {
  background: url('../assets/images/grid-24px.png') top left !important;
  font-family: $ks-book;
  box-sizing: border-box;
}

a {
  padding: 0;
  line-height: rem-calc(24);
}

p {
  font-size: rem-calc(18);
  line-height: rem-calc(24);
  margin-bottom: rem-calc(24);
}

// Typography
// ----------
h1 { line-height: rem-calc(72) }
h2 { line-height: rem-calc(48) }
h3 { line-height: rem-calc(48) }
h4 { line-height: rem-calc(48) }
h5 { line-height: rem-calc(24) }

h1.centered,
h2.centered,
h3.centered,
h4.centered,
h5.centered {
  text-align: center;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  font-family: $ks-bold;
}


h1, h2, h3, h4, h5 {
  font-family: $ks-book;
  text-transform: uppercase;
  margin: rem-calc(0 0 24 0);
}

h1 {
  margin: rem-calc(0 0 24 0);
}

h5 {
  font-family: $ks-medium;
}

// Lists
// -----
ul, ol, dl {
  list-style: none;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
}

h1.test {
  font-family: $ks-book;
  color: $sunshine;
}

// Link behaviour
// --------------

a {
  @include transition(color 0.5s ease, color 0.30s ease);
}

// Tiles
// -----

// -----------
// Tile Header
.tile-header {
  h4 {
    display: table;
    margin: 0 auto rem-calc(24) auto ;
    border-bottom: 1px solid $light-grey;
    line-height: rem-calc(47);

    span {
      font-family: $ks-bold;
    }
  }

  p {
    margin-bottom: rem-calc(48);
    text-align: center;
  }
}

// -----------
// Tile Header
.tile-container {
  overflow: hidden;
  padding-bottom: rem-calc(24);

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  &.design,
  &.coding,
  &.draw {

    h5 {
      display: table;
      margin: rem-calc(0) auto rem-calc(24) auto;
      line-height: rem-calc(47);
      border-bottom: 1px solid $light-gray;

    }
  }
}

// Particles
// ---------

// Underlines
hr.nav-underline {
  background: $dirt;
  display: block;
  border: none;
  height: 1px;
  margin: rem-calc(0 0 20 0);
}

hr.tile-underline {
  background: $dirt;
  display: block;
  border: none;
  height: 4px;
  margin: rem-calc(0 0 44 0);

  &:after {
    display: block;
    content: '';
    border-bottom: 1px solid $light-grey;
    height: rem-calc(1);
    padding: rem-calc(4);
  }
}

hr.tile-underline-reverse {
  background: $dirt;
  display: block;
  border: none;
  height: 4px;
  margin: rem-calc(0 0 44 0);

  &:before {
    position: relative;
    display: block;
    content: '';
    border-bottom: 1px solid $light-grey;
    height: rem-calc(1);
    padding: rem-calc(0);
    bottom: rem-calc(6);
  }
}