.droid-logo-container {

  #logo-droid {
    display: block;
    max-width: rem-calc(290);
    margin: 0 auto;
  }
}

.welcome-message {
  height: rem-calc(72);
  span {
    display: block;
    text-transform: uppercase;
    text-align: center;
  }

  span.welcome {
    font-family: $ks-medium;
    font-size: rem-calc(48);
    letter-spacing: rem-calc(6);
    line-height: 1em;
  }

  span.to-my-portfolio {
    border-top: 1px solid $light-grey;
    font-size: rem-calc(18);
  }
}