.top-bar {
  margin: rem-calc(24 0 48 0);
  padding: 0;

  .top-bar-title {
    padding: 0;

    img {
      height: rem-calc(48);
    }
  }

  .top-bar-left {
    float: none;
    line-height: rem-calc(40);
    border-top: 4px solid $dirt;
    border-bottom: 4px solid $dirt;

    ul.menu {
      width: 100%;
      margin: rem-calc(0) auto;
      display: table;
      line-height: inherit;
      text-align: center;


      li a {
        position: relative;
        padding: rem-calc(0 12);

        // border-bottom: 4px solid $dirt;

        color: $dirt;
        font-size: rem-calc(14);
        line-height: inherit;
        letter-spacing: rem-calc(1);
        text-transform: uppercase;
      }

      li a:before {
        content: '';
        position: absolute;
        width: 100%;
        // height: 4px;
        bottom: rem-calc(-4);
        left: 0;
        border-bottom: 4px solid $sunshine;
        // background-color: $primary-color;
        visibility: visible;

        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
      }

      li a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
      }
    }
  }
}