// Table of Content - Slick Slider
// -------------------------------
// 1.0 Slick Slider
// 	1.1 Slick Dots
// ---
// 2.0 Slick Slider Portfolio
// 	2.1 Stuff goes here
// 	2.2 Stuff goes here
// 	2.3 Stuff goes here
// --------------------

// 1.0 Slick Slider
// ----------------
.slick-slider {
	margin-bottom: 0;

	// 1.1 Slick Dots
	// --------------
	ul.slick-dots {
		display: table;
		height: rem-calc(48);
		margin: 0 auto;

		li {
			float: left;
			margin: rem-calc(0 4);

			button {
				display: block;
				background: transparent;
				width: rem-calc(8);
				height: rem-calc(8);
				padding-top: rem-calc(20);
				color: transparent;
				font-size: 0;
				cursor: pointer;
				border: 0;
				outline: none;

				&:before {
					display: block;
					content: '';
					background: $dirt;
					width: rem-calc(8);
					height: rem-calc(8);

					-webkit-font-smoothing: antialiased;
				}
			}

			&.slick-active button:before {
				background: $sunshine;
			}
		}
	}
}

// 2.0 Slick Slider Portfolio
// --------------------------
.slick-arrows-container {

	ul.slick-arrows {
		display: table;
		height: rem-calc(48);
		margin: 0 auto;

		li {
			float: left;
			line-height: rem-calc(48);

			&.left,
			&.right {
				color: $dark-gray;
				cursor: pointer;
				text-transform: uppercase;
				padding: 0 rem-calc(25);
				border-top: 1px solid $dark-gray;
				border-bottom: 1px solid $dark-gray;

				@include transition(background-color 0.5s ease, color 0.30s ease);

				&:hover {
					color: $dirt;
				}
			}

			&:nth-child(2) {
				// padding: rem-calc(0 10);
			}

			&.right {

			}

			img {
				display: block;
				height: rem-calc(48);
			}
		}
	}
}


































