// Table of Content - Slick Slider
// -------------------------------
// 1.0 Slick Slider
// 	1.1 Slick Dots
// ---
// 2.0 Slick arrow
// 3.0 Slick Portfolio
// 4.0 Minor styling correction
// 5.0 Index goes here
// -------------------------------

// 1.0 Slick Slider
// ----------------
.slick-slider {
	margin-bottom: 0;

	// 1.1 Slick Dots
	// --------------
	ul.slick-dots {
		display: table;
		height: rem-calc(48);
		margin: 0 auto;

		li {
			float: left;
			margin: rem-calc(0 4);

			button {
				display: block;
				background: transparent;
				width: rem-calc(8);
				height: rem-calc(8);
				padding-top: rem-calc(20);
				color: transparent;
				font-size: 0;
				cursor: pointer;
				border: 0;
				outline: none;

				&:before {
					display: block;
					content: '';
					background: $dirt;
					width: rem-calc(8);
					height: rem-calc(8);

					-webkit-font-smoothing: antialiased;
				}
			}

			&.slick-active button:before {
				background: $sunshine;
			}
		}
	}

	.slick-list {
		.slick-track {
			.slick-slide{
				// padding: 0;
				// width: 333.328px !important;
			}
		}
	}
}

// 2.0 Slick arrows
// ----------------
.slick-arrows-container {

	ul.slick-arrows {
		display: table;
		height: rem-calc(48);
		margin: 0 auto;

		li {
			float: left;
			line-height: rem-calc(48);

			&.left,
			&.right {
				padding: 0 rem-calc(25);
				border-top: 1px solid $dark-gray;
				border-bottom: 1px solid $dark-gray;
				color: $dark-gray;
				cursor: pointer;
				line-height: rem-calc(46);
				text-transform: uppercase;

				@include transition(background-color 0.5s ease, color 0.30s ease);

				&:hover {
					color: $dirt;
				}
			}

			&:nth-child(2) { }

			&.right {

			}

			img {
				display: block;
				height: rem-calc(48);
			}
		}
	}
}

// 3.0 Slick Portfolio
// -------------------
.slick-portfolio {

	.slick-slide {
		width: 333.328px;
	}

	.tile-slick-portfolio {
		float: left;

		ul {
			float: left;
			width: 100%;
			padding: rem-calc(0);
			margin: rem-calc(19 0 0 0);
			border-top: 1px solid $dark-gray;

			li {
				float: left;
				font-size: rem-calc(14);
				text-transform: uppercase;

				&:nth-child(1) {
					margin-right: rem-calc(10);
					border-right: 1px solid $light-gray;

					i {
						display: block;
						width: rem-calc(48);
						font-family: $ks-bold;
						font-style: normal;
						text-align: center;
					}
				}

				&:nth-child(3) {
					float: right;
					padding: rem-calc(0 10);
					border-left: 1px solid $light-gray;

					i.icon-go-to {
						display: table-cell;
						background: url('../assets/images/icon-go-to.svg') center center no-repeat transparent;
						line-height: rem-calc(48);
						width: rem-calc(28);
						height: rem-calc(24);
					}
				}

				line-height: rem-calc(48);

				a {
					display: table;
					float: right;
					height: rem-calc(48);

					span {
						display: table-cell;
						padding-right: rem-calc(10);
						line-height: rem-calc(48);
					}
				}
			}
		}

		.portfolio-image {
			// overflow: hidden;
			// height: rem-calc(192);
			margin-right: 0;

			img {
				// height: rem-calc(192);
			}
		}
	}
}

// 4.0 Minor styling correction
// ----------------------------

// remove outside padding from column container
.slick-columns {
	padding: 0;
}


































