/* Variables */

/* Fonts */
$franchise: "franchiseregular", sans-serif;
$ks-light: "klinic_slablight", Times New Roman, sans;
$ks-light-italic: "klinic_slablight_italic", Times New Roman, sans;
$ks-book: "klinic_slabbook", Times New Roman, sans;
$ks-medium: "klinic_slabmedium", Times New Roman, sans;
$ks-medium-italic: "klinic_slabmedium_italic", Times New Roman, sans;
$ks-bold: "klinic_slabbold", Times New Roman, sans;
$ks-bold-italic: "klinic_slabbold_italic", Times New Roman, sans;

/* Colors */
$white: #FFFFFF;
$light-grey: #CDCDCD;
$dark-grey: #AAAAAA;
$sunshine: #FCC911;
$dirt: #222222;

/* Typography */
