<header class="main-header" role="banner">
	<div class="row">
		{{ page.header }}
	</div>

	{% if is_front %}

		<div class="main-navigation-container">
			<div class="row">
				{{ page.main_navigation }}
			</div>
		</div>

	{% endif %}

</header>