<header class="main-header" role="banner">
	<div class="row">
		{{ page.header }}
	</div>

	<div class="main-navigation-container">

		<div class="row">
			{% if is_front %}
				{{ page.main_navigation }}
			{% else %}
				{{ page.main_navigation }}
			{% endif %}
		</div>

	</div>

</header>