<div class="about-me-container">

	<div class="row">
		<div class="large-4 large-centered columns">
			<div class="tile-header">
				<h2 class="centered">About me</h2>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="medium-4 columns">
			<div class="tile-container design">
				<img src="/themes/custom/jptheme/assets/images/shield-design.svg" alt="Badge Shield Coding">
				<h5>Awesome Stuff</h5>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
			</div>
			<hr class="tile-underline">
		</div>

		<div class="medium-4 columns">
			<div class="tile-container coding">
				<img src="/themes/custom/jptheme/assets/images/shield-coding.svg" alt="Badge Shield Coding">
				<h5>Awesome Stuff</h5>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
			</div>
			<hr class="tile-underline">
		</div>

		<div class="medium-4 columns">
			<div class="tile-container draw">
				<img src="/themes/custom/jptheme/assets/images/shield-draw.svg" alt="Badge Shield Coding">
				<h5>Awesome Stuff</h5>
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
			</div>
			<hr class="tile-underline">
		</div>
	</div>
</div>