
<div class="spread-teaser-container">

	<div class="row">
		<div class="medium-4 medium-centered columns">

			<h5 class="centered">Visit me on Spreadshirt</h5>
			<p>And check out my Awesome Vector Shirt Collection. You also get 20% off!</p>
		</div>
	</div>

	<div class="row">
		<div class="medium-4 medium-centered">
			<hr class="tile-underline-reverse">
		</div>
	</div>
</div>

