{# This is the Footer Region Template.
   -----------------------------------
   In order to put this Template in place, please
   create a custom Block in the Admin area.
#}
<footer role="contentinfo">
	<div class="footer-menu-container">
		<div class="row">
			<div class="large-12 columns">
				<h4>Thanks for watching</h4>
				<p>A special thanks to the fine people on the left</p>
			</div>
		</div>

		<div class="row">
			<div class="medium-5 columns">
				<ul class="footer-menu-left disappear-on-medium">
					<li><a href="/">Enola</a></li>
					<li><a href="/">My Wife</a></li>
					<li><a href="/">Lisa Pressmar</a></li>
					<li><a href="/">Alexander Martin</a></li>
				</ul>
			</div>

			<div class="medium-2 columns">
				<a href="/"><img src="/themes/custom/jptheme/assets/images/logo-footer.png" alt="Footer Logo"></a>
			</div>

			<div class="medium-5 columns disappear-on-medium">
				<ul class="footer-menu-right">
					<li><a href="/">To Top </a></li>
					<li><a href="/">About Me</a></li>
					<li><a href="/">Recent Work</a></li>
					<li><a href="/">Stay in contact</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="footer-menu-social-container">
		<div class="row">
			<div class="medium-4 medium-centered columns">
				<p>Follow my other hubs</p>
				<ul class="footer-menu-social">
					<li>
						<a href="/" id="icon-instagram-link">
							<svg id="icon-instagram" viewBox="0 0 48 55.43"></svg>
						</a>
					</li>

					<li>
						<a href="/" id="icon-dribbble-link">
							<svg id="icon-dribbble" viewBox="0 0 48 55.43"></svg>
						</a>
					</li>

					<li>
						<a href="/" id="icon-behance-link">
							<svg id="icon-behance" viewBox="0 0 48 55.43"></svg>
						</a>

					</li>

					<li>
						<a href="/" id="icon-facebook-link">
							<svg id="icon-facebook" viewBox="0 0 48 55.43"></svg>
						</a>
					</li>

					<li>
						<a href="/" id="icon-twitter-link">
							<svg id="icon-twitter" viewBox="0 0 48 55.43"></svg>
						</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</footer>
