{% include directory  ~ '/partials/header.html.twig' %}

<main id="content" role="main">

	<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

	<div class="row">
		<div class="large-12 columns">
			{{ page.orbit }}
			<h1 class="centered">Im an <span>Headline</span></h1>
			<h2 class="centered">Im an <span>Headline</span></h2>
			<h3 class="centered">Im an <span>Headline</span></h3>
			<h4 class="centered">Im an <span>Headline</span></h4>
		</div>
	</div>{# /.row #}

	<div class="row">
		<div class="large-12 columns">
			{{ page.content }}
		</div>
	</div>{# /.row #}

	<div class="row">
		<div class="large-12 columns">
			{% if page.footer %}
				<footer role="contentinfo">
					{{ page.footer }}
				</footer>
			{% endif %}
		</div>
	</div>{# /.row #}


</main>{# /.layout-container #}
