{% include directory  ~ '/partials/header.html.twig' %}

<main id="content" role="main">

	<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

	{# Spreasshirt Teaser region #}
	{{ page.spread_teaser }}

	{# Slick Hero region #}
	{% include directory  ~ '/partials/slick.hero.html.twig' %}

	{# About Me region #}
	{{ page.about }}

	{# Slick Portfolio region #}
	{% include directory  ~ '/partials/slick.portfolio.html.twig' %}

</div>

	{# Just on hold :)

	<div class="row">
		<div class="medium-12 columns">
			{{ page.content }}
		</div>
	</div>

	#}

	<div class="row">
		<div class="large-12 columns">
			{% if page.footer %}
				<footer role="contentinfo">
					{{ page.footer }}
				</footer>
			{% endif %}
		</div>
	</div>{# /.row #}


</main>
